.home {
    display: flex;
    gap: 1rem;
    background: #333;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    gap: 1rem;
    align-items: center;    
}

.social {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: #fff;
}

h1 {
    color: #F7D354;
}