.home {
    display: flex;
    flex: auto;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.sidebar {
    display: flex;
    flex: auto;
    justify-content: end;
    gap: 1rem;
    align-items: center;    
}

.social-net {
    display: flex;
    flex: auto;
    justify-content: center;
}

.sidebar h2 {
    color: #fff;
}

.home h1 {
    background: linear-gradient(90deg, #faf752 0%, #dd9024 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a:hover {
    font-size: 103%;
    transition: 1s;
}