.home {
    display: flex;
    flex: auto;
    gap: 1rem;
    background: #222;
    padding: 1rem;
    align-items: center;
}

.sidebar {
    display: flex;
    flex: auto;
    justify-content: end;
    gap: 1rem;
    align-items: center;    
}

.social-net {
    display: flex;
    flex: auto;
    justify-content: center;
}

h2 {
    color: #fff;
}

h1 {
    color: #F7D354;
}