.social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.social #linkedin {
    color: #0072b1
}

.social #github {
    color: #111
}

.social #instagram {
    color: #bc2a8c
}

a:hover {
    background: linear-gradient(90deg, #faf752 0%, #dd9024 100%);
    transition: 1s;
    border-radius: 10%;
    opacity: 60%;
}
        