.technologies {
    padding: 3rem;
    gap: 1rem;
    margin-bottom: 1rem
}

section {
    display: flex;
    flex-direction: column;
}

.technologies h2 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
    gap: 1rem;
}

.technologies h2:after {
    content: "";
    background: linear-gradient(90deg, #faf752 0%, #dd9024 100%);
    height: 3px;
    width: 30%;
}

.technologies p {
    color: #a6a6a6;
    margin-bottom: 1rem;
    line-height: 2rem
}

.technologies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
        
.technology-card {
    display: flex;
    flex: 2;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    width: 45%;
    border-radius: 10px;
    height: 15rem;
}

.technology-card h3 {
    color: #fff;
    margin-bottom: 1rem
}

.technology-card svg {
    font-size: 20rem
}

.tecnology-info {
    justify-content: center;
    text-align: center;
}

#html svg, #html h3 {
    color: #E44D26;
}
#css svg, #css h3{
    color: #1572b6
}
                
#js svg, #js h3 {
    color: #f0db4f
} 
                
#node svg, #node h3 {
    color: #83cd29
} 
                
#mysql svg, #mysql h3 {
    color: #00618a
} 
                
#react svg, #react h3{
    color: #61dafb
} 
                